$primary: #17357d;
$p-light: #4f5ead;
$p-dark: #001150;

$secondary: #9fd500;
$s-light: #d4ff4f;
$s-dark: #6ba300;

$border_color: #f1f1f1;

$sm: "(min-width: 576px)";
$md: "(min-width: 720px)";
$lg: "(min-width: 960px)";
$xl: "(min-width: 1200px)";
